<template>
  <div class="section-wrapper projects">
    <section>
      <div class="heading">
        <h1>Projects Section</h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "ProjectsMain"
};
</script>

<style lang="scss" scoped>
@import '@/sass_global/projects.scss';
</style>
