<template>
  <div class="technologies-listing">
    Top For Loop
    <a href="">
      <div class="main-category">
        <h1>Technologies main title in for loop</h1>
        SubCat For Loop
        <div class="subcategory">
          <h2>Subcategory title</h2>
          <div class="subcate-items">
            Subcat Items For Loop
            <div style="display: flex;">
              <div class="subcate-item-summary open-hover"></div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
export default {
    name: 'TechnologiesListing',
    props: {
        title: ""
    }
};
</script>

<style lang="scss" scoped></style>