<template>
  <div class="section-wrapper techs">
    <section>
      <div class="heading">
        <h1>Technology Section</h1>
      </div>
      <p>This is first section of all times</p>
    </section>
  </div>
</template>

<script>
export default {
  name: "TechnologiesMain"
};
</script>

<style lang="scss" scoped>
@import '@/sass_global/tech.scss';
</style>
