<template>
  <div class="technologies-details">
    <div class="header bg-hero-image"></div>
    <div class="details-table">
      <table class="no-border">
        <tr class="title">
          <td></td>
          <td></td>
        </tr>
        <tr class="description">
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="mywork">

    </div>
    <div class="learning-links"></div>
    <div class="related-links"></div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
