$bg-pattern: url(~@/assets/images/main_bg.png) repeat;
$sec-color: #f1f1f1;
$main-color: #333;
$main-font: ubuntuTTF;
$fallback-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$green: rgb(181, 230, 29);
$blue: rgb(112, 146, 190);
$yellow: rgb(255, 242, 0);
$orange: rgb(255, 127, 39);
$red: rgb(237, 28, 35);

:export {
    secColor: $sec-color;
}