.footer-wrapper {
    width: 100%;
    background: linear-gradient(to bottom, rgba(112, 146, 190,.5), rgba(112, 146, 190,1));
}

.footer-wrapper footer {
    height: 400px;
    padding: 40px;
}

footer .heading {
    text-align: left;
    font-size: 1rem;
}