.header_wrapper {
    background-color: rgb(112, 146, 190);
    padding: 5px 1px;
    color: $sec-color;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.header_wrapper header ul {
    list-style: none;
}

.header_wrapper header a {
    color: $sec-color;
}

.burger_menu_container {
    display: inline-block;
    cursor: pointer;
    z-index: 99;
}

#desktop_nav {
    display: none;
}

.mobile-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 60px;
    background-color: rgb(112, 146, 190);
    background-color: rgba(112, 146, 190, 1);
    overflow-x: auto;
    transition: 0.9s;
}

.overlay-content {
    position: relative;
    top: 1%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.mobile-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: $sec-color;
    display: block;
    transition: 1.2s;
}

.mobile-overlay a:hover, .overlay a:focus {
    color: $sec-color;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: $sec-color;
    margin: 6px 0;
    transition: 1.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 7px);
    transform: rotate(-45deg) translate(-9px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px);
}

.header_wrapper header .header_nav_wrapper {
    flex: 0 0 15%;
}

.header_wrapper header .header_content_wrapper {
    flex: 0 0 70%;
}

.header_wrapper header .top-search {
    flex: 0 0 15%;
}

.header_wrapper header .header_content_wrapper h1 {
    font-size: 1.7rem;
}

.header_content_wrapper .logo_wrapper {
    display: none;
}

.top-search .top-search-wrapper {
    display: none;
    width: 100%;
}

.top-search .search-icon {
    display: inline-block;
    padding: 10px 10px;
    background: none;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    color: #f1f1f1;
}

.top-search input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: text;
    margin-right: 0;
}

.top-search .search-submit {
    display: inline-block;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -5px;
    padding: 10px 10px;
    background: #ddd;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#loginbox {
    display: none;
}

#main-heading {
    display: inline-block;
    vertical-align: middle;
}

#main-heading h1 {
    text-shadow: 0 0 5px $main-color;
}