* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ubuntuTTF;
    src: url(~@/assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: ubuntuTTF;
    src: url(~@/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: ubuntuTTF;
    src: url(~@/assets/fonts/Ubuntu/Ubuntu-Italic.ttf);
    font-style: italic;
}

html {
    font-family: $fallback-font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    background: $bg-pattern;
    color: $main-color;
}

body {
    font-family: $main-font;
}

a {
    text-decoration: none;
}

main {
    padding-top: 45px;
    width: 100%;
}

article .section-wrapper {
    padding: 30px 0;
    height: 100vh;
    width: 100%;
}

section .heading {
    text-align: center;
    font-size: 1.6rem;
}

.page_wrapper {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 5px;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

header, section, footer {
    width: 90%;
    margin: 0 auto;
}