<template>
    <div>
        <projects />
    </div>
</template>

<script>
    import Projects from '@/components/Projects/ProjectsMain.vue';
    export default {
        name: 'projects',
        components: {
            Projects
        }
    }
</script>

<style lang="scss" scoped>

</style>