<template>
    <main role="main">
        <h1>Some Projects</h1>
        <ul>
            <li v-for="(project, index) in projects" :key="index">{{project}}</li>
        </ul>
        Add Proj Name: <input type="text" v-model="projName">
        <br>
        <a href="" @click.prevent="changeProject(projName)">Add ME</a>

        <h2>Total Projects: {{totalProjs}}</h2>
        <h3>First Project: {{projectById(2)}}</h3>
        <h3>First Project: {{singleProj}}</h3>

        <sections />
    </main>
</template>

<script>
    import Sections from './Sections.vue';
    import { mapState, mapGetters, mapMutations } from 'vuex';

    export default {
        name: 'Main',
        data() {
                return {projName: 'init'}
        },
        components: {
            Sections,
        },
        computed: {
            ...mapState([
                'singleProj'
            ]),
            ...mapGetters([
                'totalProjs',
                'projectById',
                'projects'
            ]),
        },
        props: ['loginbox'],
        methods: {
            ...mapMutations([
                'changeProject',
                'changeSingleProj'
            ]),
        }
    }
</script>

<style lang="scss" scoped>
</style>