<template>
    <article role="article">
        <technologies-main />
        <projects-main />
        <personal-main />
        <learning-main />
    </article>
</template>

<script>
    import TechnologiesMain from './Technologies/TechnologiesMain.vue';
    import PersonalMain from './Personal/PersonalMain.vue';
    import LearningMain from './Learning/LearningMain.vue';
    import ProjectsMain from './Projects/ProjectsMain.vue';
    export default {
        name: 'Sections',
        components: {
            TechnologiesMain,
            PersonalMain,
            LearningMain,
            ProjectsMain
        }
    }
</script>

<style lang="scss" scoped>
</style>