<template>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            <div class="row">
                <div class="column col-3">
                    <h2 class="heading">Contact Me</h2>
                </div>
                <div class="column col-9">
                    <h2 class="heading">Links</h2>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'TheFooter'
    }
</script>

<style lang="scss" scoped>
@import '@/sass_global/footer.scss';
@import '@/sass_global/media/main-footer.scss';
</style>