/* eslint-disable no-console */
<template>
  <div class="header_wrapper">
    <header role="banner">
      <div class="header_nav_wrapper">
        <nav role="navigation">
          <div id="desktop_nav" class="desktop_nav">
            <a id="loginbutton" ref="lbtn" href="#" @click="openLoginLocal" class="login">
              Login
              <span class="caretdown">
                <i class="fa fa-caret-down" ref="lcrt" id="login-caret" data-caret="down"></i>
              </span>
            </a>
            <a href="technologies.html">Technologies</a>
            <a href="personal.html">Personal</a>
            <a href="profile.html">Profile</a>
            <a href="blog.html">Blog</a>
          </div>

          <div id="mobile_nav">
            <!-- Burger Menu Bar -->
            <div id="menuburger" data-bars="true" class="burger_menu_container" ref="el" @click="toggleBurgerMenuLocal">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>

            <div id="mobile-overlay" class="mobile-overlay">
              <div class="overlay-content">
                <a href="technologies.html">Technologies</a>
                <a href="personal.html">Personal</a>
                <a href="profile.html">Profile</a>
                <a href="blog.html">Blog</a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div id="header_content_wrapper" class="header_content_wrapper">
        <div class="logo_wrapper">
          <a href="/">
            <div id="logo"></div>
          </a>
        </div>
        <div id="main-heading">
          <h1>KASHIF AKRAM</h1>
        </div>
      </div>

      <div id="top-search" class="top-search">
        <button type="button" class="search-icon">
          <i class="fa fa-search"></i>
        </button>
        <div class="top-search-wrapper">
          <form action="search.html">
            <input type="search" placeholder="Search" />
            <button type="submit" class="search-submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </header>

    <div id="loginbox" ref="loginref">
            <form action="login.html" class="loginform">
                <div class="label-wrapper">
                    <label for="username">User Name</label>
                </div>
                <div class="textbox-wrapper">
                    <input type="text" id="username" name="username">
                </div>
                <div class="label-wrapper">
                    <label for="userpassword">Password</label>
                </div>
                <div class="textbox-wrapper">
                    <input type="text" id="userpassword" name="userpassword">
                    <span><a href="forgot.html">Reset Password</a></span>
                </div>
                <div class="submit-wrapper">
                    <input type="submit" value="Login">
                </div>
            </form>

        </div>

  </div>



</template>

<script>
import {toggleBurgerMenu, openLogin} from '../js_modules/header.js';
export default {
  name: "TheHeader",
  props: {},
  data() {
    return {
    };
  },
  methods: {
    toggleBurgerMenuLocal: function() {
        var elem = this.$refs.el;
        toggleBurgerMenu(elem);
    
  },
      openLoginLocal: function() {
        var loginbox = this.$refs.loginref;
        var loginbutton = this.$refs.lbtn;
        var logincaret = this.$refs.lcrt;
        
        openLogin(loginbox, loginbutton, logincaret);
    
  }
  }
}
</script>

<style lang="scss" scoped>
@import "@/sass_global/header.scss";
@import "@/sass_global/media/main-header.scss";
</style>