@media only screen and (min-width: 410px) and (max-width: 768px) {
    .footer-wrapper footer {
        height: 250px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .footer-wrapper footer {
        height: 300px;
    }
}