@media only screen and (min-width: 410px) and (max-width: 768px) {
    .header_content_wrapper .logo_wrapper {
        display: inline-block;
        vertical-align: middle;
    }

    #logo {
        background-image: url(~@/assets/images/logo@smallphone.png);
        width: 45px;
        height: 45px;
    }

    .header_wrapper .header_content_wrapper h1 {
        font-size: 2.1rem;
        -webkit-transform: scale(1, 2.5);
        /* Safari and Chrome */
        -moz-transform: scale(1, 2.5);
        /* Firefox */
        -ms-transform: scale(1, 2.5);
        /* IE 9 */
        -o-transform: scale(1, 2.5);
        /* Opera */
        transform: scale(1, 2.5);
        /* W3C */
        font-stretch: ultra-expanded;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header_wrapper {
        height: 70px;
    }
    .mobile-overlay {
        top: 70px;
    }
    .header_content_wrapper .logo_wrapper {
        display: inline-block;
        vertical-align: middle;
    }
    #logo {
        background-image: url(~@/assets/images/logo@smallphone.png);
        width: 45px;
        height: 45px;
    }
    .header_wrapper .header_content_wrapper h1 {
        font-size: 2.1rem;
        -webkit-transform: scale(1, 2);
        /* Safari and Chrome */
        -moz-transform: scale(1, 2);
        /* Firefox */
        -ms-transform: scale(1, 2);
        /* IE 9 */
        -o-transform: scale(1, 2);
        /* Opera */
        transform: scale(1, 2);
        /* W3C */
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1025px) {
    .header_wrapper {
        height: 70px;
    }
    #mobile_nav {
        display: none;
    }
    #desktop_nav {
        display: inline-block;
    }
    .header_content_wrapper .logo_wrapper {
        display: inline-block;
        vertical-align: middle;
    }
    #logo {
        background-image: url(~@/assets/images/logo@smallphone.png);
        width: 45px;
        height: 45px;
    }
    .header_wrapper .header_content_wrapper h1 {
        font-size: 2.5rem;
    }
    .footer-wrapper footer {
        height: 400px;
    }
    .header_wrapper .header_content_wrapper h1 {
        font-size: 2.1rem;
        -webkit-transform: scale(1, 1.6);
        /* Safari and Chrome */
        -moz-transform: scale(1, 1.6);
        /* Firefox */
        -ms-transform: scale(1, 1.6);
        /* IE 9 */
        -o-transform: scale(1, 1.6);
        /* Opera */
        transform: scale(1, 1.6);
        /* W3C */
    }
    .header_wrapper header .header_nav_wrapper {
        flex: 1 0 40%;
    }
    .header_wrapper header .header_content_wrapper {
        flex: 0 0 28%;
    }
    .header_wrapper header .top-search {
        flex: 0 0 28%;
    }
    .caretdown {
        display: inline-block;
        font-size: .8rem;
        padding-left: 3px;
        padding-top: 5px;
    }
    a.login {
        background-color: $blue;
        border-radius: 100%;
        border-bottom: 1.5px solid $sec-color;
        margin-right: 35px;
    }
    div#loginbox{
        display: none;
        position: fixed;
        width: 185px;
        background: $blue;
        top: 70px;
        left: 77px;
        text-align: left;
        color: #f1f1f1;
        padding-left: 7px;
        font-size: .8rem;
        padding-top: 15px;
    }
    
    .desktop_nav {
        overflow: hidden;
    }
    .desktop_nav a {
        float: left;
        color: $sec-color;
        text-align: center;
        padding: 16px 8px;
        text-decoration: none;
    }
    .desktop_nav a:hover {
        background-color: $sec-color;
        color: $blue;
    }
    .desktop_nav a.active {
        background-color: $sec-color;
        color: $main-color;
    }
    .top-search .search-icon {
        display: none;
    }
    .top-search .top-search-wrapper {
        display: inline-block;
    }
    .top-search .top-search-wrapper input {
        width: 85%;
    }
}

@media only screen and (min-width: 1500px) {
    html {
        font-size: 22px;
    }
}