<template>
  <div id="app">
    <the-header />
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    <router-view/>
    <Main />
    <the-footer />
  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue';
import Main from '@/components/Main.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
   components: {
     TheHeader,
     Main,
     TheFooter
   },
   methods: {

   }
}
</script>

<style lang="scss">

@import '@/sass_global/main.scss';
@import '@/sass_global/media/global-media.scss';
</style>