<template>
            <div class="section-wrapper blogs">
                <section>
                    <div class="heading">
                        <h1>Blogs Section</h1>
                    </div>
                </section>
            </div>
</template>

<script>
    export default {
        name: 'PersonalMain'
    }
</script>

<style lang="scss" scoped>
@import '@/sass_global/blogs.scss';

</style>