<template>
  <div class="section-wrapper learning">
    <section>
      <div class="heading">
        <h1>Learning Section</h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "LearningMain"
};
</script>

<style lang="scss" scoped>
@import '@/sass_global/learning.scss';
</style>
